<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CSS/index.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Ranchers&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Ranchers&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap" rel="stylesheet">
    <title>ChillMaar - Welcome to ChillMaar</title>
</head>

<body>
    <div class="container">
        <div class="heading">
            <h1 class="title">ChillMaar</h1>
            <h2 class="decription">Helps you connect and share with the people in your life.</h2>
        </div>

        <main class="login">
            <form>
                <div class="username">
                <input type="text" id="Username" placeholder="Username">
                </div>
                <div class="password">
                <input type="password" id="Password" placeholder="Password">
                </div>
                <button class="btnlgn">Log In</button>
                <div class="forgot">
                <a href="" class="forgotLink">Forgot Password ?</a>
                </div>
                <hr>
                <div class="outsgn">
                <button class="btnsgn">Sign Up</button>
                </div>
            </form>
        </main> 

        <!-- <section class="signup">
            <h2>Signup</h2>
            <form>
                <label for="Username">Username</label>
                <input type="text" id="Username">

                <label for="Fname">FirstName</label>
                <input type="text" id="Fname">

                <label for="Lname">LastName</label>
                <input type="text" id="Lname">

                <label for="sex">Gender</label>
                <select>
                    <option>Male</option>
                    <option>Female</option>
                </select>

                <label for="Email">Email</label>
                <input type="text" id="Email">

                <label for="Phone">Phone</label>
                <input type="text" id="Phone">

                <button>Signup</button>
            </form>
        </section> -->

       
    </div>

    <footer class="footer">
        <p>Copyright &#169; 2021 ChillMaar. All rights reserved.</p>
    </footer>

</body>

</html>