<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CSS/index.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Ranchers&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Ranchers&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap" rel="stylesheet">
    <title>ChillMaar - log in or sign up</title>
</head>

<body>
    <div class="container">
        <div class="heading">
            <h1 class="title">ChillMaar</h1>
            <h2 class="decription">Helps you connect and share with the people in your life.</h2>
        </div>

        <main class="formContainer">
            <form action="/signin" method="POST">
                <div class="usernameContainer">
                <input type="text" id="Username" placeholder="Username" name="username" required>
                </div>
                <div class="passwordContainer">
                <input type="password" id="Password" placeholder="Password" name="password" required>
                </div>
                <div class="error"><%= error %></div>
                <div class="success"><%= success %></div>
                <button type="submit" class="btnlgn">Log In</button>
                <div class="forgotContainer">
                <a href="" class="forgotLink" style="display: none;">Forgot Password ?</a>
                </div>
                <hr>
            </form>
            <div class="sgnUpContainer">
                <a href="/signup" class="a_sgn">Sign Up</a>
            </div>
        </main> 

        <footer class="footerContainer">
            <p class="footer">Copyright &#169; 2021 ChillMaar. All rights reserved.</p>
        </footer>
    </div>

    
</body>

</html>