<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChillMaar - Welcome to ChillMaar</title>
</head>
<body>
    <img src="http://sad">
    <label>username</label>

    <form action="">
    <textarea id="story" name="story"
          rows="5" cols="33">
        </textarea>
    <button type="submit">Post</button>
    </form>

    <label>Friends</label>

</body>
</html>